<div class="page_spacer">

    {{#if creator}}

    <nav class="event_nav">

        <div id="applicants_tab" class="event_tab">

            <p>Applicants</p>

        </div>
    </nav>

    {{/if}}

    <div id="event_card_spacer">

        <!-- Can put position absolutes anywhere in event_card_spacer -->

        <div class="event_button_spacer">

            {{#if loggedIn}}

            <button id="join_button">Join Now</button>

            {{/if}}

        </div>

            <div class="back_button" onclick="history.back()">

                <span><i class="uil uil-angle-left"></i></span>

                <h3>Back</h3>

            </div>

        <!-- Not Position Absolute: -->

        <div class="event_card_header">

            <h3>{{event.event_name}}</h3>

        </div>

        <div class="event_card_content_spacer">

            <div class="left_card_spacer">

                <div class="left_card_creator_spacer">

                    <div class="creator_header">

                        <span class="icon_spacer">
                            <img src="/assets/images/avatar.jpeg" />
                        </span>

                        <div class="creator_text">
                            <p>{{event.user.username}}</p>
                        </div>

                    </div>

                </div>

                <div class="left_card_content_spacer">

                    <div class="map_spacer">

                    <iframe
                        src="https://maps.google.com/maps?q={{mapLink}}&t=&z=13&ie=UTF8&iwloc=&output=embed"
                        style="border:0; width: 100%; height: 100%; mix-blend-mode: lighten;" allowfullscreen="" loading="lazy">
                        <!-- Mix blend mode that looks decent with tertiary color #39a6b2: screen, luminosity, hard-light, lighten -->
                </iframe>

                    </div>


                </div>

            </div>

            <div class="right_card_spacer">

                <div class="right_content_spacer">

                    <div class="right_content_text">

                        <h3>Description</h3>

                    </div>

                    <div class="right_content_text">

                        <span><i class="uil uil-clock event_icon"></i></span>

                        <p>{{event.date_time}}</p>

                    </div>

                    <div class="right_content_text">

                        <span><i class="uil uil-location-point event_icon"></i></span>

                        <p>{{event.location.location_name}}</p>

                    </div>

                    <div class="right_content_text">

                        <span><i class="uil uil-users-alt event_icon"></i></span>

                        <p>Players Needed: {{event.members_needed}}</p>

                    </div>

                    <div class="right_content_text">

                        <span><i class="uil uil-info-circle event_icon"></i></span>

                        <p>{{event.description}}</p>

                    </div>

                </div>

                {{#if creator}}

                <div class="creator_content_spacer">

                    {{#if hasApplicants}}

                    {{#each appliedUsers as |applicant|}}

                    <div class="creator_applicant"><p>{{applicant.username}}</p></div>

                    {{/each}}

                    {{/if}}

                </div>

                {{/if}}

            </div>

        </div>

    </div>

</div>

{{#if loggedIn}}

<script src="/assets/js/event-page.js"></script>

{{/if}}

{{#if creator}}

<script src="/assets/js/event-creator.js"></script>

{{/if}}