<div id="event_page">

    <div id="events_spacer">

        <div id="left_tabs">

            <div class="left_tab">

                <h3>Basketball</h3>

                <span><i class="uil uil-basketball button__icon"></i></span>

            </div>

            <div class="left_tab">

                <h3>Baseball</h3>

                <span><i class="uil uil-baseball-ball button__icon"></i></span>

            </div>

            <div class="left_tab">

                <h3>Tennis</h3>

                <span><i class="uil uil-tennis-ball button__icon"></i></span>

            </div>

            <div class="left_tab">

                <h3>Soccer</h3>

                <span><i class="uil uil-football button__icon"></i></span>

            </div>

            <div class="left_tab">

                <h3>Hockey</h3>

                <span><i class="uil uil-check button__icon"></i></span>

            </div>

        </div>

        <div id="right_content">

            <!-- BASKETBALL TAB -->

            <div id="basketball_tab" class="sport_tab active">

                {{#each basketballArray as |basketball|}}

                <a href="/event/{{basketball.id}}">

                    <div class="event_content_spacer">

                    <h4>{{basketball.event_name}}</h4>
                    <p>{{basketball.description}}</p>

                    </div>

                </a>

                {{/each}}

            </div>

            <div id="baseball_tab" class="sport_tab">

                {{#each baseballArray as |baseball|}}

                <a href="/event/{{baseball.id}}">
                    <div class="event_content_spacer">

                    <h4>{{baseball.event_name}}</h4>
                    <p>{{baseball.description}}</p>

                    </div>

                </a>

                {{/each}}

            </div>

            <div id="tennis_tab" class="sport_tab">

                {{#each tennisArray as |tennis|}}

                <a href="/event/{{tennis.id}}">

                    <div class="event_content_spacer">

                    <h4>{{tennis.event_name}}</h4>
                    <p>{{tennis.description}}</p>

                    </div>

                </a>

                {{/each}}

            </div>

            <div id="soccer_tab" class="sport_tab">

                {{#each soccerArray as |soccer|}}

                <a href="/event/{{soccer.id}}">

                    <div class="event_content_spacer">

                    <h4>{{soccer.event_name}}</h4>
                    <p>{{soccer.description}}</p>

                    </div>

                </a>

                {{/each}}

            </div>

            <div id="hockey_tab" class="sport_tab">

                {{#each hockeyArray as |hockey|}}

                <a href="/event/{{hockey.id}}">

                    <div class="event_content_spacer">

                    <h4>{{hockey.event_name}}</h4>
                    <p>{{hockey.description}}</p>

                    </div>

                </a>

                {{/each}}

            </div>

        </div>

    </div>

</div>

<script src="/assets/js/events-page.js"></script>