<div id="profile_page_container">

    <nav class="profile_nav">

        <div id="participating_tab" class="profile_event">

            <p>Participating</p>

        </div>

        <div id="created_tab" class="profile_event">

            <p>Created</p>

        </div>

    </nav>

    <div class="profile_panel_container">

        <div id="profile_edit_nav">

            <div id="profile_edit_link" class="edit_nav_link">

                <span><i class="uil uil-edit"></i></span>

            </div>

            <div id="profile_save_link" class="edit_nav_link">

                <span><i class="uil uil-save"></i></span>

            </div>

            <a href="/create-event">

                <div id="profile_create_link" class="edit_nav_link">

                    <span><i class="uil uil-plus-circle"></i></span>

                </div>

            </a>

        </div>

        <div class="profile_panel_left">

            <div class="profile_spacer">

                <div class="profile_image">

                    <img src="/assets/images/avatar.jpeg" />

                </div>

                <div class="profile_info">

                    <h3>{{session.username}}</h3>
                    <input type="text" id="profile_edit_username" value="{{session.username}}"/>

                    <p>{{session.description}}</p>
                    <textarea id="profile_edit_description" placeholder="{{session.description}}"></textarea>

                </div>

                <div class="profile_sports">

                </div>

                <div class="profile_sports_inputs">

                    <input type="checkbox" id="sport-1" name="event" value="basketball" />
                    <input type="checkbox" id="sport-2" name="event" value="baseball" />
                    <input type="checkbox" id="sport-3" name="event" value="tennis" />
                    <input type="checkbox" id="sport-4" name="event" value="soccer" />
                    <input type="checkbox" id="sport-5" name="event" value="hockey" />

                    <label id="input-sport-1" for="sport-1"><i class="uil uil-basketball button__icon"></i></label>
                    <label id="input-sport-2" for="sport-2"><i class="uil uil-baseball-ball button__icon"></i></label>
                    <label id="input-sport-3" for="sport-3"><i class="uil uil-tennis-ball button__icon"></i></label>
                    <label id="input-sport-4" for="sport-4"><i class="uil uil-football button__icon"></i></label>
                    <label id="input-sport-5" for="sport-5"><i class="uil uil-check button__icon"></i></label>

                </div>

            </div>

        </div>

        <div class="profile_mobile_nav">

            <nav>

                <button id="mobile_participating">Events Participating</button>
                <button id="mobile_created">Events Created</button>

            </nav>

        </div>

        <div class="profile_panel_right">

            <div id="events_participating" class="profile_event_spacer">

            {{#each eventsPart as |part|}}

                <div class="profile_event_container" value="{{part.members_user.status}}">

                    <div class="profile_event_icon">

                        <span class="profile_accept">

                        <i class="uil uil-check-circle"></i>

                        </span>

                        <span class="profile_deny">

                        <i class="uil uil-times-circle"></i>

                        </span>

                        <span class="profile_undecided">

                        <i class="uil uil-question-circle"></i>

                        </span>

                    </div>

                    <div class="profile_event_info">

                        <h3>{{part.event_name}}</h3>

                        <div class="profile_event_date">
                        
                            <i class="uil uil-calender button__icon"></i>

                            <p>{{format_date part.date_time}}</p>

                        </div>

                    </div>

                    <div class="profile_event_button">

                        <a href="/event/{{part.id}}">

                        <button>More Info</button>

                        </a>

                    </div>

                </div>

            {{/each}}

            </div>

            <div id="events_created" class="profile_event_spacer">

                {{#each events as |event|}}

                <div class="profile_event_container">

                    <div class="profile_event_icon">

                        <img src="/assets/images/eventicon.png" />

                    </div>

                    <div class="profile_event_info">

                        <h3>{{event.event_name}}</h3>

                        <div class="profile_event_date">
                        
                            <i class="uil uil-calender button__icon"></i>

                            <p>{{format_date event.date_time}}</p>

                        </div>

                    </div>

                    <div class="profile_event_button">

                        <a href="/event/{{event.id}}"><button>More Info</button></a>

                    </div>

                </div>

                {{/each}}

            </div>

        </div>

    </div>

</div>

<script src="/assets/js/profile-page.js"></script>